@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1d1d20;
    padding: 5%;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: #54049f;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 15px;
}

.search-bar input {
    flex: 1;
    background: transparent;
    border: 0;
    outline: none;
    padding: 1.5em 1.25em;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ff00c8;
}

.search-bar input:focus,
.search-bar input:active {
    outline: none;
    box-shadow: none;
}

.search-bar input:-webkit-autofill,
.search-bar input:-webkit-autofill:hover,
.search-bar input:-webkit-autofill:focus,
.search-bar input:-webkit-autofill:active,
.search-bar input:-moz-autofill {
    -webkit-text-fill-color: #ff00c8 !important;
    -moz-text-fill-color: #ff00c8 !important;
    transition:
        background-color 5000s ease-in-out 0s,
        font-size 0s;
}

::placeholder {
    color: #6eff00;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button:hover {
    transform: scale(1.1);
}

.search-bar button img {
    width: 30px;
    height: 30px; 
    transition: filter 0.3s ease;
}

.search-bar button:hover img {
    filter: invert(100%);
}

/* Responsividade para telas menores (celulares) */
@media (max-width: 600px) {
    .search-bar {
        flex-direction: column;
        padding: 10px;
    }

    .search-bar input {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-bar button {
        width: 100%;
    }
}
